openai
manim
python-dotenv

PyPDF2
aiofiles
elevenlabs
edge-tts
moviepy

# Image retrieval
google-search-results
serpapi
requests

# Image processing
Pillow

# Streamlit UI
streamlit

# Color output
colorama
